
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.pytest_cache/
.ipynb_checkpoints/

# ----- environments -----
# dev venv
.venv/
env/
venv/
# ignore the temp venv for testing too
.venv-artifact/


# OS/editor
.DS_Store
.vscode/

# data/artifacts (keep data off GitHub; use Zenodo)
Datasets/
*.h5
*.hdf5
*.zip
*.tar.gz
*.sha256

# notebooks metadata noise
**/.ipynb_checkpoints

# Jupyter scratch (for developing notebooks, so ignore)
notebooks/99_*.ipynb

# test configs 
tests/test_configs.json

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
